$marg : "margin" ;
$paddg : "padding" ;
$backcol : "background-color" ;
$boxsh : "box-shadow" ;
$anime : "animation" ;
$trans : "transition";
$fonts : "font-size" ;
$wid : 'width' ;
$hei : 'height' ;
$radius : 'border-radius' ;
$colors:(
 firstcolor : #f8f9fa ,
 textc : #555 ,
 secondcolor : #e9ecef , 
 thirdcolor : #6c757d ,
 fourthcolor : #a3a2a2 ,
 fifthcolor : #474448 ,
 sixthcolor : #ddd ,
 purpule-one : #6247aa ,
 purpule-two : #7251b5 ,
 purpule-three : #a06cd5 ,
 yellow-one : #f9c80e ,
 blue-one : #0e6ba8 ,
 blue-two : #0a2472 ,
 blue-three : #072ac8 ,
 blue-four : #caf0f8 ,
);
*{
    #{$marg}:0;
    #{$paddg}:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select:none;
    direction: rtl;
    max-width: 1280px;
}
@mixin display($dir,$justify,$align,$wrap) {
    display:flex;
    flex-direction:$dir;
    justify-content: $justify;
    align-items:$align;
    flex-wrap: $wrap;
}
@mixin shadow($value...) {
    box-shadow:$value;
}
@mixin trans($trans...) {
    transition:$trans;
}
@mixin anime($anime) {
    animation:$anime;
}
@mixin navbar-items-style() {
    #{$paddg}:10px 30px 10px 20px ;
    a{
      text-decoration: none;
      color: map-get($map: $colors, $key: textc);
    }
}
@mixin pointerStyle($right,$top) {
    right:$right;
    top:$top;
    position: absolute;
    display: none;
    #{$wid}:10px;
   #{$hei}:20px;
   #{$radius}:5px;
   #{$backcol}:#ccc;
}
@mixin items-for-Style($top,$right) {
    display:none;
    list-style-type:none;
    position: absolute;
    #{$backcol}: #fff;
    #{$radius}:10px;
    #{$wid}:15%;
    top: $top;
    right:$right;

}
@mixin firstletter() {
    &::first-letter{
        color: map-get($map: $colors, $key: yellow-one);
        }
}
@mixin icon-slider($margin) {
    position: absolute;
    top: 80%;
    #{$marg}:$margin;
    color: #fff;
}
@mixin price-style {
    align-self: flex-end;
    #{$fonts}:1.1em;
  }
@mixin heart-style {
    position: absolute;
    top: 8%;
    color: map-get($map: $colors, $key: yellow-one);
    @include trans(font-size 0.5s ease);
    font-size:24px;
    &:hover{
        #{$fonts}:30px;
    }
  }
@mixin inside-style {
    #{$fonts}:0.9em;
    color: map-get($map: $colors, $key: fourthcolor);
 }
body{
    font-size: 16px;
    font-weight: 600;
    word-spacing:3px;
    section{
     display: grid;
     color: map-get($map: $colors, $key: textc);
     grid-template-columns:repeat(auto-fit,minmax(420px,1fr));
     gap:5px;
     grid-template-rows: repeat(3,350px);
     grid-auto-rows: 350px;
     #{$marg}:15px;
    }
}
header{
    @include shadow(0 3px 5px 0 #caf0f8);
   #{$backcol}: map-get($map: $colors, $key:blue-four);
  color:#555;
  grid-column: 1/-1; 
  #{$marg}: 0 0 10px 0;
  #{$hei}:133px;
  .header-sec{
  @include display(row,space-between,flex-start,nowrap);
  .a-header{
      #{$fonts}:1.3em;
      color: map-get($map:$colors, $key:textc);
      #{$marg}: 10px 15px 0 15px;
      i{
      @include trans(filter 1s ease-in ,  transform 1s ease-in); 
      #{$radius}:50%;
      #{$paddg}:5px;
      &:hover{
          filter: drop-shadow(1px 2px 5px #f9c80e);
          transform:rotateZ(30deg);
      }
    }
    }
    h1{
        filter: drop-shadow(1px 1px 1px #666);
        #{$marg}-top:10px;
        &::first-letter{
        color: map-get($map: $colors, $key:yellow-one);
        }
    }
  } 

  nav{
.navbar-body{
z-index: 1;
@include display(row,right,flex-end,nowrap);
list-style-type: none;
position: relative;
#{$hei}:84px;
a{
text-decoration: none;
color: map-get($map: $colors, $key: textc);
}


.navbar-items1{
    @include navbar-items-style(); 
    @include trans(all 0.6s ease-in);
    &:hover{
        border-left: 3px solid #f9c80e;      
        .items-for-buy{
            display: block;
        }
        .pointer1{
            display: block;
        }
    }
}


.pointer1{
@include pointerStyle(3%,91%)
}


.items-for-buy{
@include items-for-Style(100%,2%);
@include shadow(0 0 4px #666);
.buy-item{
@include trans(background-color 0.7s ease,font-size 2s ease-out);
@include shadow(0 2px 6px #caf0f8);
#{$marg}:0 0 15px 0;
#{$paddg}:10px;
&:hover{
#{$backcol}:map-get($map: $colors, $key:secondcolor );
@include firstletter();
}
}
}

.navbar-items2{
    @include navbar-items-style();
    @include trans(all 0.6s ease-in);
    &:hover{
        border-left: 3px solid #f9c80e;      
        .items-for-rent{
            display: block;
        }
        .pointer2{
            display: block;
        }
    }
}
.pointer2{
@include pointerStyle(9%,91%)
}
        .items-for-rent{
            @include items-for-Style(100%,8%);
            @include shadow(0 0 4px #666);
            list-style-type:none;
            .rent-item{
                @include trans(background-color 0.7s ease,font-size 2s ease-out);
                @include shadow(0 2px 6px #caf0f8);
                #{$marg}:0 0 15px 0;
                #{$paddg}:10px;
                &:hover{
                    #{$backcol}:map-get($map: $colors, $key:secondcolor );
                    @include firstletter();
                    }
            }
        }

    .navbar-items3{
            @include navbar-items-style();
            @include trans(all 0.6s ease-in);
            &:hover{
                border-left: 3px solid #f9c80e;      
                .items-for-motagage{
                    display: block;
                }
                .pointer3{
                    display: block;
                }
            }
        }
    .pointer3{
        @include pointerStyle(15.5%,90%)
    }
    .items-for-motagage{
            @include items-for-Style(100%,14.5%);
            @include shadow(0 0 4px #666);
            list-style-type:none;
            .motagage-item{
                @include trans(background-color 0.7s ease,font-size 2s ease-out);
                @include shadow(0 2px 6px #caf0f8);
                #{$marg}:0 0 15px 0;
                #{$paddg}:10px;
                &:hover{
                    #{$backcol}:map-get($map: $colors, $key:secondcolor );
                    @include firstletter();
                    }
            }
        }
       
        }
    }
}


.animation{
    #{$hei}:150px;
    #{$marg}:0 0 20px 0; 
    position: relative;
    @include shadow(0 2px 7px #666);
    @include display(row,center,center,nowrap);
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  
    background: linear-gradient(to right, #FFE47A, #3D7EAA); 
    background-size: 400% 400% ;
    @include anime(alen 15s ease infinite);
    @keyframes alen {
       0%{background-position:0 30%;}
       50%{background-position: 100% 50%;}
       100%{background-position:0% 80%;}
    }
    .number{
        position: absolute;
        top:12%;
        right: 75%;
        user-select: text;
    }
   .text{
    @include anime(textt 6s ease infinite);
    @keyframes textt {
        0%{color:#fff;#{$fonts}:1em;};
        100%{color:#000;#{$fonts}:1.3em;}
    }
   }
   #icon{
      @include icon-slider(0 22px 0 0)
   }
   #icon2{
    position: absolute;
    top: 80%;
    color: #fff;
   }
   #icon3{
    @include icon-slider(0 45px 0 0)
   }
  }

  // end style header nav slidebar !!!!!!!!!!!!!!!!!!!!!!!!!!!

.item-one{
      #{$radius}:3px;
      #{$marg}:0 0 0 3px;
      cursor: pointer;
      position: relative;
      @include display(column,space-evenly,center,nowrap);
      @include shadow(0 0 3px 0 #666);
      @include trans(box-shadow 0.6s ease);
      &:hover{
       @include shadow(0 0 10px 0 #666);
      }
      
      .img1{
          #{$wid}:95%;
          #{$hei}:70%;
          #{$radius}:10px;
          @include trans(filter 0.6s ease);
          &:hover{
              filter: brightness(50%);
              -webkit-filter: brightness(50%)
              
          }

    }
      .item-one-sec2{
          @include display(column,space-evenly,right,nowrap);
          #{$wid}:90%;
          #{$hei}:20%;
          .price-one-span{
              @include price-style();
          }
        
          .inside-one-span{
              @include inside-style();
          }
         
          #icon1{
             @include heart-style();
          }
      }
  }
  // start item 2
.item-two{
    #{$radius}:3px;
    #{$marg}:0 3px 0 0;
    cursor: pointer;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    @include shadow(0 0 3px 0 #666);
    @include trans(box-shadow 0.6s ease);
    &:hover{
     @include shadow(0 0 10px 0 #666);
    }
    .img2{
        #{$wid}:95%;
        #{$hei}:70%;
        #{$radius}:10px;
        @include trans(filter 0.6s ease);
        &:hover{
            filter: brightness(50%);
            -webkit-filter: brightness(50%)
            
        }
    }
    .item-two-sec2{
        @include display(column,space-evenly,right,nowrap);
        #{$wid}:90%;
        #{$hei}:20%;
        .price-two-span{
            @include price-style();
        }
        .inside-two-span{
        @include inside-style();
        }
        #icon2{
        @include heart-style();
        }
    }
}
 // start item 3
.item-three{
    #{$radius}:3px;
    #{$marg}:5px 0 0 3px;
    cursor: pointer;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    @include shadow(0 0 3px 0 #666);
    @include trans(box-shadow 0.6s ease);
    &:hover{
     @include shadow(0 0 10px 0 #666);
    }
    .img3{
        #{$wid}:95%;
        #{$hei}:70%;
        #{$radius}:10px;
        @include trans(filter 0.6s ease);
        &:hover{
            filter: brightness(50%);
            -webkit-filter: brightness(50%)
            
        }
    }
    .item-three-sec2{
        @include display(column,space-evenly,right,nowrap);
        #{$wid}:90%;
        #{$hei}:20%;
        .price-three-span{
            @include price-style();
        }
        .inside-three-span{
            @include inside-style();
        }
        #icon3{
            @include heart-style();
        }
    }
}
 // start item 4
.item-four{
    #{$radius}:3px;
    #{$marg}:5px 3px 0 0;
    cursor: pointer;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    @include shadow(0 0 3px 0 #666);
    @include trans(box-shadow 0.6s ease);
    &:hover{
     @include shadow(0 0 10px 0 #666);
    }
    .img4{
        #{$wid}:95%;
          #{$hei}:70%;
          #{$radius}:10px;
          @include trans(filter 0.6s ease);
          &:hover{
              filter: brightness(50%);
              -webkit-filter: brightness(50%)
          }  
          }
          .item-fourth-sec2{
            @include display(column,space-evenly,right,nowrap);
            #{$wid}:90%;
            #{$hei}:20%;
            .price-four-span{
                @include price-style();
            }
            .inside-four-span{
                @include inside-style();
            }
            #icon4{
                @include heart-style();
            }
          }
    
}
 // start item 5
.item-five{
    #{$radius}:3px;
    #{$marg}:5px 0 0 3px;
    cursor: pointer;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    @include shadow(0 0 3px 0 #666);
    @include trans(box-shadow 0.6s ease);
    &:hover{
     @include shadow(0 0 10px 0 #666);
    }
    .img5{
        #{$wid}:95%;
        #{$hei}:70%;
        #{$radius}:10px;
        @include trans(filter 0.6s ease);
        &:hover{
            filter: brightness(50%);
            -webkit-filter: brightness(50%)
            
        }
    }
    .item-fifth-sec2{
        @include display(column,space-evenly,right,nowrap);
        #{$wid}:90%;
        #{$hei}:20%;
        .price-five-span{
            @include price-style();
            }
            .inside-five-span{
            @include inside-style();
            }
            #icon5{
            @include heart-style();
            }
    }
   
}
 // start item 6
.item-six{
    #{$radius}:3px;
    #{$marg}:5px 3px 0 0;
    cursor: pointer;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    @include shadow(0 0 3px 0 #666);
    @include trans(box-shadow 0.6s ease);
    &:hover{
     @include shadow(0 0 10px 0 #666);
    }
    .img6{
        #{$wid}:95%;
        #{$hei}:70%;
        #{$radius}:10px;
        @include trans(filter 0.6s ease);
        &:hover{
            filter: brightness(50%);
            -webkit-filter: brightness(50%)
            
        }
    }
    .item-six-sec2{
        @include display(column,space-evenly,right,nowrap);
        #{$wid}:90%;
        #{$hei}:20%;
        .price-six-span{
        @include price-style();
        }
        .inside-six-span{
        @include inside-style();
        }
        #icon6{
            @include heart-style();
        }
    }
}
//  @import url(_responsive.scss);

@import '_responsive.scss';


 




